<div class="cookie-banner__modal">
  <div class="header">
    <div class="title">
      <h4><%= t(".title") %></h4>
    </div>
    <div class="description">
      <p> <%= t(".description") %> </p>
    </div>
  </div>

  <div class="content">
    <div class="explanation">
      <div class="title">
        <h5><%= t(".explanation.title") %></h5>
      </div>

      <div class="content">
        <table>
          <thead>
            <tr>
              <td><%= t(".explanation.table.column.name.type") %></td>
              <td><%= t(".explanation.table.column.name.name") %></td>
              <td><%= t(".explanation.table.column.name.owner") %></td>
              <td><%= t(".explanation.table.column.name.aim") %></td>
              <td><%= t(".explanation.table.column.name.privacy_policy") %></td>
              <td><%= t(".explanation.table.column.name.duration") %></td>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "cookie_detail", locals: { cookies: cookies } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="control">
      <div class="title">
        <h5><%= t(".control.title") %></h5>
      </div>
      <div class="content">
        <div>
          <iframe
            class="iframe-matomo" id="opt-out_iframe_matomo"
            src="https://argus-dev.osp.cat/index.php?module=CoreAdminHome&action=optOut&language=<%= locale.to_s %>&backgroundColor=&fontColor=3d393c&fontSize=15px&fontFamily=%22Roboto%20Slab%22%2C%20%22Roboto%22%2C%20%22Source%20Sans%20Pro%22%2C%20Helvetica%2C%20Arial%2C%20sans-serif"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
