<div class="cookie-banner__modal">
  <div class="header">
    <div class="title">
      <h4><%= t(".title") %></h4>
    </div>
    <div class="description">
      <p> <%= t(".description") %> </p>
    </div>
  </div>

  <div class="content">
    <div class="explanation">
      <div class="title">
        <h5><%= t(".explanation.title") %></h5>
      </div>

      <div class="content">
        <table>
          <thead>
            <tr>
              <td><%= t(".explanation.table.column.name.type") %></td>
              <td><%= t(".explanation.table.column.name.name") %></td>
              <td><%= t(".explanation.table.column.name.owner") %></td>
              <td><%= t(".explanation.table.column.name.aim") %></td>
              <td><%= t(".explanation.table.column.name.privacy_policy") %></td>
              <td><%= t(".explanation.table.column.name.duration") %></td>
            </tr>
          </thead>
          <tbody>
            <tr data-ccname="session">
              <td><p><%= t(".explanation.table.row.session.type") %></p></td>
              <td><p><%= truncate(t(".explanation.table.row.session.name"), length: 15) %></p></td>
              <td><p><%= t(".explanation.table.row.session.owner") %></p></td>
              <td><p><%= t(".explanation.table.row.session.aim") %></p></td>
              <td><a href="https://opensourcepolitics.eu/" target="_blank"><p><%= t(".explanation.table.row.session.privacy_policy") %></p></a></td>
              <td><p><%= t(".explanation.table.row.session.duration") %></p></td>
            </tr>
            <tr data-ccname="matomo_session">
              <td><p><%= t(".explanation.table.row.matomo_session.type") %></p></td>
              <td><p><%= truncate(t(".explanation.table.row.matomo_session.name"), length: 15) %></p></td>
              <td><p><%= t(".explanation.table.row.matomo_session.owner") %></p></td>
              <td><p><%= t(".explanation.table.row.matomo_session.aim") %></p></td>
              <td><a href="https://fr.matomo.org/faq/general/faq_146/" target="_blank"><p><%= t(".explanation.table.row.matomo_session.privacy_policy") %></p></a></td>
              <td><p><%= t(".explanation.table.row.matomo_session.duration") %></p></td>
            </tr>
            <tr data-ccname="pk_id">
              <td><p><%= t(".explanation.table.row.pk_id.type") %></p></td>
              <td><p><%= truncate(t(".explanation.table.row.pk_id.name"), length: 15) %></p></td>
              <td><p><%= t(".explanation.table.row.pk_id.owner") %></p></td>
              <td><p><%= t(".explanation.table.row.pk_id.aim") %></p></td>
              <td><a href="https://fr.matomo.org/faq/general/faq_146/" target="_blank"><p><%= t(".explanation.table.row.pk_id.privacy_policy") %></p></a></td>
              <td><p><%= t(".explanation.table.row.pk_id.duration") %></p></td>
            </tr>
            <tr data-ccname="pk_ses">
              <td><p><%= t(".explanation.table.row.pk_ses.type") %></p></td>
              <td><p><%= truncate(t(".explanation.table.row.pk_ses.name"), length: 15) %></p></td>
              <td><p><%= t(".explanation.table.row.pk_ses.owner") %></p></td>
              <td><p><%= t(".explanation.table.row.pk_ses.aim") %></p></td>
              <td><a href="https://fr.matomo.org/faq/general/faq_146/" target="_blank"><p><%= t(".explanation.table.row.pk_ses.privacy_policy") %></p></a></td>
              <td><p><%= t(".explanation.table.row.pk_ses.duration") %></p></td>
            </tr>
            <tr data-ccname="test_cookie">
              <td><p><%= t(".explanation.table.row.test_cookie.type") %></p></td>
              <td><p><%= truncate(t(".explanation.table.row.test_cookie.name"), length: 15) %></p></td>
              <td><p><%= t(".explanation.table.row.test_cookie.owner") %></p></td>
              <td><p><%= t(".explanation.table.row.test_cookie.aim") %></p></td>
              <td><a href="https://fr.matomo.org/faq/general/faq_146/" target="_blank"><p><%= t(".explanation.table.row.test_cookie.privacy_policy") %></p></a></td>
              <td><p><%= t(".explanation.table.row.test_cookie.duration") %></p></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="control">
      <div class="title">
        <h5><%= t(".control.title") %></h5>
      </div>
      <div class="content">
        <div>
          <iframe
            class="iframe-matomo" id="opt-out_iframe_matomo"
            src="https://argus-dev.osp.cat/index.php?module=CoreAdminHome&action=optOut&language=<%= locale.to_s %>&backgroundColor=&fontColor=3d393c&fontSize=15px&fontFamily=%22Roboto%20Slab%22%2C%20%22Roboto%22%2C%20%22Source%20Sans%20Pro%22%2C%20Helvetica%2C%20Arial%2C%20sans-serif"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
