<% unless cookies_accepted? %>
  <div class="cookie-banner">
    <div class="cookie-banner__title">
      <h4>
        <%= t(".title") %>
      </h4>
    </div>

    <div class="cookie-banner__description">
      <p><%= t(".description_html") %></p>
    </div>
    <div class="cookie-banner__action">
      <%= button_to t(".ok"), decidim.accept_cookies_path, method: :get, remote: true, class: "button tiny cookie-banner__button" %>
      <button id="cookie-banner__more-informations" data-open="cookiesInformationModal" data-open-url="<%= decidim.show_terms_cookies_path %>" class="cookie-banner__more-informations"><%= t(".more_information") %></button>
    </div>
  </div>
<% end %>
