<div class="card budget-summary <%= budget_summary_state %>" data-progress-reference>
  <div class="card__content">
    <% if include_heading %>
      <% if current_order_checked_out? %>
        <h3 class="heading3"><%= t(".checked_out.title") %></h3>
        <p>
          <%= raw t(".checked_out.description", cancel_link: link_to(t(".cancel_order"), order_path, method: :delete, class: "cancel-order", data: { confirm: t(".are_you_sure") })) %>
        </p>
      <% else %>
        <h3 class="heading3"><%= t(".title") %></h3>
        <p><%= t(".description") %></p>
        <%= render partial: "order_voting_rules" %>
      <% end %>
    <% end %>

    <%= render partial: "order_progress" %>
  </div>

  <%= render partial: "order_selected_projects" %>
</div>

<%= render partial: "limit_excess" %>
<%= render partial: "budget_confirm" %>
