<div id="order-selected-projects">
  <div class="card__content budget-summary__selected">
    <h3 class="heading3"><%= t(".title") %></h3>
    <% if current_order_projects_count.positive? %>
      <ul class="budget-summary__selected-list">
        <% current_order.projects.each do |project| %>
          <li class="budget-summary__selected-item">
            <%= link_to translated_attribute(project.title), project %>
            <strong class="budget-summary__selected-number">
              <%= budget_to_currency project.budget %>
            </strong>
            <%= remove_project_trash_icon_button(project) unless current_order_checked_out? %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% unless current_order_checked_out? %>
      <ul class="budget-summary__list">
        <% if component_settings.vote_per_project? %>
          <li><%= t(".selected_total", count: current_order_projects_count, total: component_settings.total_projects).html_safe %></li>
        <% end %>
        <% if component_settings.vote_per_category? %>
          <% categories = current_participatory_space.categories.first_class %>
          <% projects_per_category_treshold.each do |id, total| %>
            <% category = categories.find_by(id: id)&.translated_name %>
            <% count = current_order ? current_order.projects_per_category.fetch(id, 0) : 0 %>
            <li><%= t(".selected_per_category", count: count, total: total, category: category).html_safe %></li>
          <% end %>
        <% end %>
        <button class="button small button--sc" data-toggle="budget-confirm" <%= vote_button_disabled? %>><%= t(".vote") %></button>
      </ul>
    <% end %>
  </div>
</div>
