<div id="project-<%= project.id %>-item" class="card--list__item">
  <div class="card--list__text">
    <div>
      <%= link_to project, class: "card__link" do %>
        <h5 class="card__title budget-list__title">
          <%= translated_attribute project.title %>
        </h5>
      <% end %>
      <%= cell "decidim/tags", project, context: { extra_classes: ["tags--project"] } %>
    </div>
  </div>
  <% if current_order && current_order.projects.include?(project) %>
    <div class="card--list__data budget-list__data budget-list__data--added <%= "budget-list__data_votes" if current_settings.show_votes? %>">
      <span class="card--list__data__number budget-list__number <%= "budget-list__number_votes" if current_settings.show_votes? %>">
        <%= budget_to_currency(project.budget) %>
      </span>
      <%= remove_project_authorized_button(project, "button tiny budget--list__action success") do %>
        <%= icon("check", class: "icon--small", aria_label: t(".remove"), role: "img") %>
      <% end %>
      <% if current_settings.show_votes? %>
        <div class="card__support card__support_votes" style="width: 7em">
          <span><%= t(".count", count: project.confirmed_orders_count) %></span>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="card--list__data budget-list__data <%= "budget-list__data_votes" if current_settings.show_votes? %>">
      <span class="card--list__data__number budget-list__number <%= "budget-list__number_votes" if current_settings.show_votes? %>">
        <%= budget_to_currency(project.budget) %>
      </span>
      <%= add_project_authorized_button(project, "button tiny hollow budget--list__action") do %>
        <%= icon("check", class: "icon--small", aria_label: t(".add"), role: "img") %>
      <% end %>
      <% if current_settings.show_votes? %>
        <div class="card__support card__support_votes" style="width: 7em">
          <span><%= t(".count", count: project.confirmed_orders_count) %></span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
